.idea

# ---------- Binaires / objets ----------
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.out
*.elf
*.bin
*.hex

# ---------- Binaires fsociety ----------
fsociety-c2
fsociety-implant.exe
fsociety-loader.exe

# ---------- Tests ----------
test_crypto
test_rsa_linux
pub.der
enc.bin